<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Go Search Engine</title>
  <meta name="description" value="The search engine that doesn't track you. Learn More.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
  <div class="index">
    <section class="index__header">
      <div class="index__search">
        <form class="index__form" action="/search" methode="GET">
          <div>
            <input name="q" type="search"
                   class="index__query" 
                   maxlength="512"
                   autocomplete="off"
                   placeholder="Search"
                   aria-label="Search"
                   spellcheck="false"
                   autofocus="true"
            >
          </div>
          <button class="index__button" aria-label="Search" type="submit">
            <div class="index__ico"></div>
          </button>
        </form>
      </div>
    </section>
  </div>
</body>
</html>